<div class="hero-content-wrapper mat-display-1 m-3">
  <div class="hero-content">
    <h1 class="m-0">The hero section</h1>
    <h2 class="m-0">Hover to see color changes for this specific component</h2>
    <h3>You can change these values in the DEFAULT_THEME object</h3>

    <div>
      <button class="mx-3" mat-raised-button color="primary">Primary raised button</button>
      <button class="mx-3" mat-raised-button color="accent">Accent raised button</button>
      <button class="mx-3" mat-raised-button color="warn">Warn raised button</button>
    </div>

    <h4 class="hero-900-variation">
      Here is an item with material primary-900 variation, it uses the material palette to get the color
    </h4>
  </div>
</div>
